.bookmarks {
  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    height: calc(100vh - 60px);
    width: 100vw;
  }

  &__item,
  &__item a {
    background-color: $white;
    border-radius: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'ProductSans Regular';
    font-size: 12px;
    font-weight: 400;
    position: relative;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 120px;
    width: 90px;

    &:hover {
      background-color: $google-grey-100;
      cursor: pointer;
    }
  }
}
