@font-face {
  font-family: 'ProductSans Regular';
  src: url('/fonts/ProductSans-Regular.ttf');
}

@font-face {
  font-family: 'ProductSans Bold';
  src: url('/fonts/ProductSans-Bold.ttf');
}

@font-face {
  font-family: 'ProductSans Thin';
  src: url('/fonts/ProductSans-Thin.ttf');
}

@import 'variables.scss';
@import 'global.scss';
@import 'components/button.scss';
@import 'components/form.scss';
@import 'components/icons.scss';
@import 'components/items.scss';
@import 'components/modal.scss';
@import 'components/nav.scss';
